body{
  padding-top: 60px;

  .nav-types{
    margin-bottom: 10px;
  }
}

.thumbnail{
  .caption h3{
    margin: 0 0 14px;
    padding: 0;
    font-size: 1.5em;

    &.title-post{
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
    }

    a{
      color: #000;
    }
  }

  video{
    width: 100%;
    max-height: 460px;
  }
}
