<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Rails React', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Funny', index_path(section: 'funny') %>
        </li>
        <li>
          <%= link_to 'NSFW', index_path(section: 'NSFW') %>
        </li>
        <li>
          <%= link_to 'WTF', index_path(section: 'wtf') %>
        </li>
        <li>
          <%= link_to 'Anime', index_path(section: 'anime-manga') %>
        </li>
        <li>
          <%= link_to 'Girl', index_path(section: 'girl') %>
        </li>
        <li>
          <%= link_to 'GIF', index_path(section: 'gif') %>
        </li>
      </ul>
    </div>
  </div>
</nav>
