<!DOCTYPE html>
<html>
  <head>
    <title>9Gag - Rails + ReactJS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="col-xs-6 col-xs-offset-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
